.side-bar {
    background-color: #17181C;
    padding: 40px 18px 20px;
    width: 253px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
}

.side-bar__logo {
    width: 188px;
    height: 69px;
}

.side-bar__logo path {
    fill: var(--color-white);
}

.side-bar__nav {
    list-style-type: none;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 58px;
}

.side-bar__nav li a {
    text-decoration: none;
    color: var(--color-white);
    font-family: roboto, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.side-bar__nav li button {
    color: var(--color-white);
    font-family: roboto, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.side-bar__nav li .side-bar__nav__icon {
    width: 39px;
}

.side-bar__nav__icon svg {
    margin: 0 auto;
    display: block;
}

.side-bar__developers {
    margin-top: auto;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}